#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "search search"
    "emblems items";
}

.active {
  box-sizing: border-box;
  border: 2px solid white;
}

.not-active {
  filter: blur(1px) brightness(0.7);
  box-sizing: border-box;
  border: 2px rgba(255, 255, 255, 1);
}

.emblems {
  grid-area: emblems;
}

.emblems img {
  width: 100%;
  height: auto;
  min-width: 200px;
}

.search-results {
  grid-area: search;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  background-color: rgb(68, 68, 68);
  min-width: 300px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
}

.search-results p {
  margin: 0;
  padding: 1rem;
}

.search-results p:hover {
  background-color: rgb(44, 44, 44);
  cursor: pointer;

}

.character-items {
  grid-area: items;
}

.not-hidden {
  display: flex;
  flex-flow: column wrap;
  height: auto;
}

.character-items img {
  width: 100%;
  height: auto;
  max-width: 96px;
  max-height: 96px;
}

.search {
  grid-area: search;
  padding: 1rem;
  position: relative;
}

.search form {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
}

input[type=text] {
  border: none;
  color: black;
  background-color: white;
  border-radius: 1rem;
}

.hidden {
  display: none;
}



@media only screen and (max-width: 600px) {
  #root {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
}